<div id="issue_form">
  <form method="POST" target="_blank" action="{{ $.Site.Params.staticman_url }}/issue">
    <label>Title* </label><input  placeholder="Invidious is outdated" name="fields[title]" required="true" type="text"></br>
    <label>E-mail* </label><input placeholder="john@example.com" name="fields[email]" required="true" type="email"></br>
    <input name="fields[affected]" value="" type="checkbox" checked style="display: none;" />
    <label>Service affected* </label>
    <input name="fields[affected]" value="Home" type="checkbox" /> Home</br>
    <input name="fields[affected]" value="Invidious" type="checkbox" /> Invidious</br>
    <input name="fields[affected]" value="AllTube" type="checkbox" /> AllTube</br>
    <input name="fields[affected]" value="Rss-Bridge" type="checkbox" /> Rss-Bridge</br>
    <input name="fields[affected]" value="TT-Rss" type="checkbox" /> TT-Rss</br>
    <input name="fields[affected]" value="KeeWeb" type="checkbox" /> KeeWeb</br>
    <input name="fields[affected]" value="MyTap3" type="checkbox" /> MyTap3</br>
    <label>Comment* </label><br><textarea type='text' rows='16' cols="64" name='fields[comment]' required="true" min="85" placeholder='Your comment here' tabindex='1'></textarea></br>
    <button type="submit">Submit!</button></br>
  </form>
</div>

